@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	/* Colors */
	--primary-50: #f7fcff;
	--primary-100: #ddedf9;
	--primary-200: #bdd9f3;
	--primary-300: #94b6dd;
	--primary-400: #6d8fbb;
	--primary-500: #405f8f;
	--primary-600: #2e497a;
	--primary-700: #203666;
	--primary-800: #142552;
	--primary-900: #0c1944;
	--secondary-50: #caf8fa;
	--secondary-100: #caf8fa;
	--secondary-200: #96ebf6;
	--secondary-300: #60cde6;
	--secondary-400: #37a8cd;
	--secondary-500: #0578ad;
	--secondary-600: #035d94;
	--secondary-700: #02467c;
	--secondary-800: #013164;
	--secondary-900: #002353;
	--neutral-50: #f8fafc;
	--neutral-500: #64748b;
	--neutral-600: #475569;
	--neutral-700: #334155;
	--neutral-800: #1e293b;
	--neutral-900: #0f172a;
	--neutral-400: #94a3b8;
	--neutral-300: #cbd5e1;
	--neutral-200: #e2e8f0;
	--neutral-100: #f1f5f9;
	--success-50: #ecfdf5;
	--success-100: #d1fae5;
	--success-200: #a7f3d0;
	--success-300: #6ee7b7;
	--success-400: #34d399;
	--success-500: #10b981;
	--success-600: #059669;
	--success-700: #047857;
	--success-800: #065f46;
	--success-900: #064e3b;
	--warning-50: #fff7ed;
	--warning-100: #ffedd5;
	--warning-200: #fed7aa;
	--warning-300: #fdba74;
	--warning-400: #fb923c;
	--warning-500: #f97316;
	--warning-600: #ea580c;
	--warning-700: #c2410c;
	--warning-800: #9a3412;
	--warning-900: #7c2d12;
	--error-50: #fef6f3;
	--error-100: #fce3d4;
	--error-300: #ef957d;
	--error-200: #f9c1aa;
	--error-400: #e06b5a;
	--error-500: #cb2f2a;
	--error-600: #af1e25;
	--error-700: #921525;
	--error-800: #760d24;
	--error-900: #610823;
	--dark-mode-50: #5f626b;
	--dark-mode-100: #555962;
	--dark-mode-200: #4c4f59;
	--dark-mode-300: #424651;
	--dark-mode-400: #424651;
	--dark-mode-500: #393d48;
	--dark-mode-600: #2f343f;
	--dark-mode-700: #262a36;
	--dark-mode-800: #1c212e;
	--dark-mode-900: #131825;
	--shades-black: #000;
	--shades-white: #fff;
}
